
// variables
$bodyColor: #F5F5F5;
$recipeCardColor: #ffffff; 

@mixin headingFont($fontSize) {
  font-size: $fontSize;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
}

@mixin bodyFont($fontSize) {
  font-size: $fontSize;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  text-transform: lowercase;
}

@mixin breakpoint($point){
    // 
    @if $point == desktop{
        @media (max-width: 1280px) { @content ; }
    }
    @else if $point == laptop{
        @media (max-width: 1024px) { @content ; }
    }
        // 
        @else if $point == bigPhablet{
        @media (max-width: 768px) { @content ; }
    }
      @else if $point == phablet{
          @media (max-width: 550px)  { @content ; }
      }
    @else if $point == mobileonly{
        @media (max-width: 375px)  { @content ; }

    }
    @else if $point == smallmobileonly{
        @media (max-width: 320px)  { @content ; }
    }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 62.5%;
  background-color: $bodyColor;
}

.appContainer {
  display: flex;
  margin-top: 20px;
  // big phablet 
    @include breakpoint(bigPhablet) {
      flex-direction: column;
    }
// laptop break point 
    @include breakpoint(laptop) {
      flex-direction: column;
    }
}

.wrapper {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  // mobile only break point
    @include breakpoint(bigPhablet) {
      width:100%;
    }
}

.list {
  @include bodyFont(1rem);
  margin: 2px;
  color: #7a7a7a;
}

.submitRecipe {
  @include headingFont(1rem);
  color: #678797;
  background: none;
  border:none;
  margin-top: 30px;
}

// Header 

.auth {
  background-color: #fcfcfc;
  width: 100%;
  nav {
    ul {
      display: flex;
      justify-content: flex-end;
      padding: 0;
      margin: 0;
      li {
      list-style: none;
      padding: 20px 10px 10px 10px;
        a {
          text-decoration: none;
          @include headingFont(.8rem);
          color: black;
        }
      }
    }
  }
}

.userForm {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
  @include headingFont(.9rem);
    .email,
    .password,
    .confirm {
      @include bodyFont(1rem);
      border: none;
      margin-left: 7px;
      background-color: #fcfcfc;
    }
    .password, 
    .confirm {
      width: 10%;
    }
    .email{
      margin: -4px 0 10px 7px;
    }
    button {
      @include headingFont(.8rem);
      border: none;
      background: #fcfcfc;
      color: red;
    }
}

.heading {
  @include headingFont(2rem);
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
    @include breakpoint(bigPhablet) {
      margin-top: 10px;
    }
}

// Recipe List

.recipeList {
  margin-top: 30px;
    h2 {
      @include headingFont(1.4rem);
    }
    p {
      @include bodyFont(1rem);
      line-height: 25px;
    }
}

// New Recipe

.newRecipeSection {
  width: 80%;
  @include breakpoint(laptop) {
    width: 90%;
  }
  //  big phablet break point
  @include breakpoint(bigPhablet) {
    width: 100%;
    box-shadow: none;
    overflow: hidden;
  }
// phablet breakpoint
  @include breakpoint(phablet) {
    width: 100%;
  }
    //mobileonly break point 
 @include breakpoint(mobileonly) {
    width: 100%;
  }
}

.recipeCardInput {
 width: 80%;
 min-height: 45vh;
 background-color: $recipeCardColor;
 box-shadow: 8px 8px 20px -5px rgba(0,0,0,0.74);
 padding: 30px;
 position: relative;
 clear: both;
 margin-bottom: 30px;
//  laptop break point 
  @include breakpoint(laptop) {
    width: 100%;
  }
//  big phablet break point
  @include breakpoint(bigPhablet) {
    width: 100%;
    box-shadow: none;
    padding: 0;
    text-align: center;
  }
// phablet breakpoint
  @include breakpoint(phablet) {
    width: 100%;
  }
    //mobileonly break point 
 @include breakpoint(mobileonly) {
    width: 100%;
    box-shadow: none;
  }
}

.recipeListSection {
  width: 20%;
}

.newRecipeButton {
  @include headingFont(1rem);
  border: none;
  color: red;
  background: none;
  padding: 10px;
  margin: 5px 0;
  float: left;
}

.recipeInput {
  display: flex;
  flex-direction: column;
    .recipeNameContainer {
      display: flex;
      margin: 20px 0;
        // big phablet break point
        @include breakpoint(bigPhablet) {
          flex-direction: column;
        }
      .recipeNameLabel {
      @include headingFont(1rem);
      width: 30%;
      padding: 5px;
        // small mobile break point
        @include breakpoint(bigPhablet) {
          width: 100%;
        }
      }
        .recipeNameInput {
        @include bodyFont(0.8rem);
        width: 45%;
        border: none;
        border-bottom: 1px solid #dcdcdc;
          // small mobile break point
          @include breakpoint(bigPhablet) {
            width: 100%;
            margin-top: 10px;
          }
      }
    }
    .ingredientContainer {
      display: flex;
      margin: 20px 0;
        // small mobile break point
        @include breakpoint(bigPhablet) {
          flex-direction: column;
        }
        .ingredientsLabel{
          @include headingFont(1rem);
          width: 30%;
          padding: 5px;
            // small mobile break point
            @include breakpoint(bigPhablet) {
            width: 100%;
          }
        }
        .ingredientsInput {
          @include bodyFont(0.8rem);
          width: 50%;
          border: none;
          border-bottom: 1px solid #dcdcdc;
            // small mobile break point
            @include breakpoint(bigPhablet) {
              width: 100%;
              margin-top: 10px;
            }
        }
    }
    .directionsContainer {
      display: flex;
      margin: 20px 0;
        // small mobile break point
        @include breakpoint(bigPhablet) {
          flex-direction: column;
        }
        .directionsLabel {
          @include headingFont(1rem);
          width: 30%;
          padding: 5px;
             // small mobile break point
            @include breakpoint(bigPhablet) {
            width: 100%;
          }
        }
        .recipeDirectionsInput {
          @include bodyFont(1rem);
          width: 50%;
          border: none;
          border-bottom: 1px solid #dcdcdc;
          // small mobile break point
            @include breakpoint(bigPhablet) {
              width: 100%;
              margin-top: 10px;
            }
        }
    }
    .recipeButton {
      @include headingFont(0.8rem);
      background: none;
      border: none;
      padding-top: 25px;
      padding-left: 20px;
      color: #678797;
    }
} 


// New Card
.recipeCard {
  width: 80%;
  //  desktop 
  @include breakpoint(desktop) {
    width: 70%;
  }
  // laptop breakpoint
  @include breakpoint(laptop) {
    width: 100%;
  }
  // big phablet break point
  @include breakpoint(bigPhablet) {
    width: 100%;
  }
}

.newCard {
 width: 80%;
 min-height: 45vh;
 background-color: $recipeCardColor;
 box-shadow: 8px 8px 20px -5px rgba(0,0,0,0.74);
 padding: 30px;
 margin-top: 50px;

  // small laptop break point
  @include breakpoint(laptop) {
    width: 90%;
  }
  //  big phablet break point
  @include breakpoint(bigPhablet) {
    width: 90%;
    overflow: hidden;
    box-shadow: none;
  }
// phablet breakpoint
  @include breakpoint(phablet) {
    width: 87%;
  }
    //mobileonly break point 
 @include breakpoint(mobileonly) {
    width: 78%;
    box-shadow: none;
  }
  li {
    list-style: none;
    @include bodyFont(.7rem);
    margin: 5px 0;
    text-align: left;
    // big phablet break point
      @include breakpoint(bigPhablet) {
        text-align: center;
      }
  }
  .recipeName {
    display: flex;
    width: 60%;
      // big phablet break point
      @include breakpoint(bigPhablet) {
        flex-direction: column;
        width: 100%;
      }
      h2 {
        @include headingFont(1.1rem);
        // big phablet break point
        @include breakpoint(bigPhablet) {
          text-align: center;
        }
      }
      p {
        @include bodyFont(.9rem);
        margin: 16px 0px 0 20px;
         // big phablet break point
        @include breakpoint(bigPhablet) {
          text-align: center;
        }
      }
  }
  .ingredients {
    display: flex;
    margin-top: 20px;
    // big phablet break point
      @include breakpoint(bigPhablet) {
        flex-direction: column;
      }
      .ingredientsHeading {
        @include headingFont(.7rem);
         // big phablet break point
        @include breakpoint(bigPhablet) {
          text-align: center;
        }
      }
      .ingredientsList{
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        margin-left: 20px;
         // big phablet break point
        @include breakpoint(bigPhablet) {
          text-align: center;
        }
      }
  }
  .directions {
    display: flex;
    margin-top: 20px;
    // big phablet break point
      @include breakpoint(bigPhablet) {
        flex-direction: column;
      }
      .directionsHeading{
         @include headingFont(.7rem);
          // big phablet break point
        @include breakpoint(bigPhablet) {
          text-align: center;
        }
      }
      .directionsList {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 32px;
         // big phablet break point
        @include breakpoint(bigPhablet) {
          text-align: center;
        }
      }
  }
}

